asgiref==3.7.2
beautifulsoup4==4.12.2
coverage==7.3.0
dj-database-url==2.1.0
Django==4.2.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
example==0.1.0
flake8==6.1.0
gunicorn==21.2.0
mccabe==0.7.0
packaging==23.1
Pillow==10.0.0
psycopg2-binary==2.9.7
pycodestyle==2.11.0
pyflakes==3.1.0
python-decouple==3.8
pytz==2021.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.2
typing_extensions==4.1.1
whitenoise==6.5.0
